# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
*.dll
*.exe
*.pdb
*.cache

# NuGet Packages
*.nupkg
packages/

# Visual Studio temp files
*.tmp
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
